@import '../../App';

.card {
  transition: transform 4s;
  margin: 5px auto;
  align-items: center;

  :hover {
    transform: scale(1.08);
    opacity: 1;
  }

  img {
    object-fit: contain;
    max-height: 250px;
    border-radius: 5px 5px;
  }
}

.container {
  text-align: center;
  padding: 3px 16px;
  font-family: $text-font;
  font-size: 1.3em;
}